<footer>
  <p>
    Data updated nightly. A dashboard by <a href="https://webcompat.com/"
    rel="noopener" target="_blank">Mozilla's Web Compatibility team</a>. For
    more details about Site Interventions, check out <a
    href="https://wiki.mozilla.org/Compatibility/Go_Faster_Addon" rel="noopener"
    target="_blank">the Mozilla Wiki</a>.
  </p>
</footer>
