<!DOCTYPE html>
<html>
  <%- include("../partials/header"); -%>
  <body>
    <div id="grid">
      <%- include("../partials/content_header"); -%>
      <section id="content">
        <h1>Well, maybe not! (404)</h1>
        <h2>We tried, but we couldn"t find what you were looking for.</h2>
      </section>
      <%- include("../partials/content_footer"); -%>
    </div>
  </body>
</html>
